@model IEnumerable<ClassWebsiteModel>


@{
    ViewData["Title"] = "AddAClass";

}

<h2>Select and Add a Class</h2>



@using (@Html.BeginForm("EnrolledClasses", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.DropDownList("ClassID", Model.Select(item => new SelectListItem
        { Value = item.Id.ToString(),
          Text = item.Name.ToString(),
          Selected = "select"  == item.Id.ToString()

        }))

    <input type="submit" value="Add" />
}


@*@using (@Html.BeginForm("EnrolledClasses", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.DropDownList("ClassID", new List<SelectListItem>
    {                new SelectListItem{ Text="C-sharp", Value = "2" },
                new SelectListItem{ Text="asp.net", Value = "3" },
                new SelectListItem{ Text="Networking", Value = "4" }

        }, "Select class")

    <input type="submit" value="Add" />
}*@







@*<select id="Select1">

        @foreach (var item in Model)
            {
                <option>@Html.DisplayFor(modelItem => item.Name, item.Id)</option>

            }
        valu

    </select>

    <a asp-action="EnrolledClasses"  >Add A Class</a>*@